body {
  background-color: #70a3d3;
  color: #444444;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 15px;
  margin: 0;
}

.header { 
text-align: center;
background-color: white;
border-radius: 10ex;
width: 300px;
margin-left: auto;
margin-right: auto;
}

.content-text {
   font-size: 20px;
   margin: 0;
}

.content-header{
  margin-bottom: 0;
}

.navbar { 
  text-align: center; 
  margin-bottom: 25px;
  background-color: white;
  border-radius: 10ex;
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.list-nav {
    padding: 0;
    margin: 0;
    padding-top: 4px;
}

.list-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.list-nav a { font-size: 20px; }
.list-nav li a.active { color: #444444; }
a:hover { color: #444444; }

.content { 
  background-color: #ffffff; 
  border-radius: 10ex;
}

.about{
    margin-left: 20px;
}

.about img{
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 735px;
    width: 370px;
    height: auto;
    
}

.about-text {
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.project-container {
  text-align: center;
  padding-top: 20px;
}

.project-container-detail1 img{
  width: 400px;
  height: auto;
}

.project-container-detail2 img{
  width: 400px;
  height: auto;
}

.project-container-detail3 img{
  width: 400px;
  height: auto;
}

.project-container-detail4 img{
  width: 400px;
  height: auto;
}

.contact-content {
  margin-top: 190px;
}

.contact-content ul {
  padding-right: 70px;
  list-style: none;

}
.contact-content {
  text-align: center;
  font-size: 20px;
}
a { 
  color: #070707; 
  text-decoration:none;
}
p { text-align: center; }

